*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-wrapper img{
height: 100px;
border-radius: 5px;
}
.cart-wrapper{
  border: 2px solid black;
  width: 500px;
  height: 120px;
  padding: 10px;
  background-color: rgba(204, 182, 245, 0.192);
}

.text-wrapper {
  margin: 30px;
}
.btn-wrapper button{
  background-color: red;
  border: 0px;
  border-radius: 4px;
  padding: 10px;
  color: white;
  margin: 30px;
  box-shadow: black 0px 1px 5px;
  cursor: pointer;
  
  

}


.item{
float: left;
}
.add-to-cart img{
  height: 80px;
  position: absolute;
  right: 1%;
  top: 1%;
}